* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0d1117;
    color: white;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #010409;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#header_sidebar_rounded_corner01 {
    width: 20px;
    height: 20px;
    background-color: #010409;
    position: absolute;
    top: 5em;
    left: 5rem;
}

#header_sidebar_rounded_corner02{
    width: 20px;
    height: 20px;
    background-color: #0d1117;
    border-top-left-radius: 50px;
    position: absolute;
    top: 5rem;
    left: 5rem;
    z-index: 1;
}

#titel {
    position: fixed;
    left: 2rem;
}

#ProjectManager {
    width: 60px;
    height: 50px;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    position: relative;
    top: .9rem;
    left: 23rem;
    cursor: pointer;
    transition: .5s;
}

#Sharing {
    width: 60px;
    height: 50px;
    font-size: 2.6rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    position: fixed;
    top: .8rem;
    left: 28rem;
    cursor: pointer;
    transition: .5s;
}

#Account {
    width: 60px;
    height: 50px;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    position: fixed;
    top: .9rem;
    right: 2rem;
    cursor: pointer;
    transition: .5s;
}

#search_container {
    background-color: transparent;
    width: 20rem;
    height: 3rem;
    position: fixed;
    top: 1rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    left: 34rem;
    background-color: #161b22;
}

#search_bar {
    width: 20rem;
    height: 3rem;
    font-size: large;
    position: fixed;
    top: 1rem;
    left: 34.5rem;
    outline: none;
    border: none;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 1;   
    background-color: transparent;
    color: white;
}

#search_button {
    font-size: 2.5rem;
    position: fixed;
    height: 3rem;
    top: 1rem;
    left: 53.5rem;
    align-content: center;
    background-color: #161b22;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: #0d1117 solid 2px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: .5s;
}

#search_bar[type="search"] {
    padding-right: 10px;
}

#search_bar[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("x-symbol-svgrepo-com.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 2;
}

#ProjectManager:hover {
    width: 60px;
    height: 80px;
    transition: .5s;
}

#Sharing:hover {
    width: 60px;
    height: 80px;
    transition: .5s;
}

#Account:hover {
    width: 60px;
    height: 80px;
    transition: .5s;
}

#side_bar {
    width: 5rem;
    height: 100rem;
    background-color: #010409;
    position: fixed;
    left: 0rem;
    top: 0rem;
}

#settings {
    width: 60px;
    height: 50px;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    position: fixed;
    bottom: .5rem;
    left: .6rem;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
}

#new_Project {
    width: 60px;
    height: 50px;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    position: fixed;
    top: 6.3rem;
    left: .6rem;
    cursor: pointer;
    transition: .5s;
    z-index: 2;
}

#login_container {
    background-color: #161b22 ;
    backdrop-filter: blur(90px);
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    position: fixed;
    top: 16%;
    left: 40%;
    z-index: 2;
    display: none;
}

#login_title {
    font-size: xxx-large;
    position: relative;
    top: -.5rem;
    left: 6rem;
}

#username_lo_p {
    font-size: large;
    position: relative;
    top: -1rem;
    left: 2rem;
}

#username_lo_in {
    border-radius: 20px;
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    width: 13rem;
    position: relative;
    top: -2rem;
    left: 2rem;
}

#username_lo_in[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
}

#username_lo_icon {
    font-size: 2rem;
    position: relative;
    top: -6rem;
    left: 16.5rem;
}

#password_lo_p {
    font-size: large;
    position: relative;
    top: -5rem;
    left: 2rem;
}

#password_lo_in {
    border-radius: 20px;
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    width: 13rem;
    position: relative;
    top: -6rem;
    left: 2rem;
}

#password_lo_in[type="password"] {
    padding-left: 10px;
    padding-right: 10px;
}

#password_lo_icon {
    font-size: 2rem;
    position: relative;
    top: -10rem;
    left: 16.5rem;
}

#username_lo_p_er {
    font-size: 1rem;
    color: white;
    position: relative;
    top: -19rem;
    left: 2rem;
    display: none;
}

#password_lo_p_er {
    font-size: 1rem;
    color: white;
    position: relative;
    top: -12rem;
    left: 2rem;
    display: block;
}

#create_lo_account_p {
    font-size: 1rem;
    color: white;
    position: relative;
    left: 2rem;
    top: -11.5rem;
}

#switch_create_lo_btn {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    position: relative;
    left: 1.7rem;
    top: -13rem;
    text-decoration: underline;
    cursor: pointer;
}

#login_btn {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    position: relative;
    top: -9rem;
    left: -.9rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

#close_btn_lo {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3.5rem;
    position: fixed;
    top: 16%;
    right: 36%;
    cursor: pointer;
    z-index: 4;
    color: white;
    width: 70px;
    height: 70px;
    display: none;
}

#create_acc_container {
    background-color: #161b22 ;
    backdrop-filter: blur(90px);
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    position: fixed;
    top: 16%;
    left: 40%;
    z-index: 2;
    display: none;
}

#create_title {
    font-size: xx-large;
    position: fixed;
    top: 1rem;
    left: 2.5rem;
}

#username_cr_p {
    font-size: large;
    position: fixed;
    top: 6rem;
    left: 1rem;
}

#username_cr_in {
    border-radius: 20px;
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    width: 13rem;
    position: fixed;
    top: 8.5rem;
    left: 1rem;
}

#username_cr_icon {
    font-size: 2rem;
    position: fixed;
    top: 6.5rem;
    left: 15.5rem;
}

#email_cr_p {
    font-size: large;
    position: fixed;
    top: 11rem;
    left: 1rem;
}

#email_cr_in {
    border-radius: 20px;
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    width: 13rem;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 13.5rem;
    left: 1rem;
}

#email_cr_icon {
    font-size: 2rem;    
    position: fixed;
    top: 11.5rem;
    left: 15.5rem;
}

#password_cr_p {
    font-size: large;
    position: fixed;
    top: 16.3rem;
    left: 1rem;
}

#password_cr_in {
    border-radius: 20px;
    outline: none;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    width: 13rem;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 19rem;
    left: 1rem;
}

#password_cr_icon {
    font-size: 2rem;    
    position: fixed;
    top: 16.8rem;
    left: 15.5rem;
}

#username_cr_er {
    font-size: 1rem;
    color: red;
    position: fixed;
    top: 9.7rem;
    left: 1rem;
    display: none;
}

#password_cr_er {
    font-size: 1rem;
    color: red;
    position: relative;
    top: 20.3rem;
    left: 1rem;
    display: none;
}

#login_cr_account_p {
    font-size: 1rem;
    color: white;
    position: fixed;
    left: 1rem;
    top: 22rem;
}

#switch_login_cr_btn {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    position: fixed;
    left: 12.5rem;
    top: 22.9rem;
    text-decoration: underline;
    cursor: pointer;
}

#create_btn {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    position: fixed;
    top: 26rem;
    left: 4rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

#close_btn_cr {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3.5rem;
    position: fixed;
    top: 16%;
    right: 36%;
    cursor: pointer;
    z-index: 4;
    color: white;
    width: 70px;
    height: 70px;
    display: none;
}

#new_container {
    background-color: #161b22 ;
    z-index: 4;
    width: 25rem;
    height: 17rem;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    border: solid 2px black;
    border-radius: 20px;
    display: none;
}

#new_prj_title {
    font-size: x-large;
    position: fixed;
    top: 0%;
    left: 33.5%;
}

#new_prj_prjname_p {
    font-size: 1rem;
    position: fixed;
    top: 16%;
    left: 15%;
}

#new_prj_prjname_in {
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    position: fixed;
    top: 30%;
    left: 11%;
}

#new_prj_prjdir_p {
    font-size: 1rem;
    position: fixed;
    top: 41%;
    left: 15%;
}

#display_dir_input {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    position: fixed;
    top: 54%;
    left: 11%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#select_dir_btn {
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 2px lightgray solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    padding-right: 15px;
    position: fixed;
    top: 54%;
    left: 67%;
    cursor: pointer;
}

#new_prj_create {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: large;
    position: fixed;
    top: 76%;
    left: 33%;
    cursor: pointer;
}

#new_prj_close {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3.5rem;
    position: fixed;
    top: 0%;
    left: 83%;
    cursor: pointer;
    z-index: 4;
    color: white;
    width: 70px;
    height: 70px;
    display: block;
}